
// Font.
$font: (
  primary: ("Martel", serif),
  secondary: ("Martel Sans", sans-serif),
);

// Palette.
$palette: (
  primary:           #454b4d,
  secondary:         #1A5A63,
  tertiary:          #50A7C7,
  quartinary:        #9AC4C2,
  quintinary:        #FBFEFF,
  meta:                #9AC4C2,
  border:              #9AC4C2,
  bg:                #f7f9fb,
  accent:            #1A5A63,
  accent-alt:        #9AC4C2,
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";